@import org.iatoki.judgels.play.JudgelsPlayMessages
@import org.iatoki.judgels.raguel.UploadResult

@(failedUploadResults: List[UploadResult])

<table class="table table-striped">
    <thead>
        <tr>
            <th>@JudgelsPlayMessages.get("upload.text.value")</th>
            <th>@JudgelsPlayMessages.get("upload.text.status")</th>
        </tr>
    </thead>
        @for(failedUploadResult <- failedUploadResults) {
            <tr>
                <td>@failedUploadResult.getValue</td>
                <td>@failedUploadResult.getStatus</td>
            </tr>
        }
    <tbody>

    </tbody>
</table>