@import play.i18n.Messages
@import scala.collection.JavaConversions
@import org.iatoki.judgels.raguel.controllers.routes
@import org.iatoki.judgels.play.IdentityUtils
@import org.iatoki.judgels.play.JudgelsPlayUtils
@import org.iatoki.judgels.raguel.services.impls.AvatarCacheServiceImpl
@import org.iatoki.judgels.raguel.services.impls.JidCacheServiceImpl
@import org.iatoki.judgels.raguel.ForumThread
@import org.iatoki.judgels.raguel.ThreadPostWithLevel
@import org.iatoki.judgels.jophiel.controllers.JophielClientControllerUtils

@(forumThread: ForumThread, threadPostsWithLevel: List[ThreadPostWithLevel], replyJidToIdMap: Map[String, Long], replyJidToUserJidMap: Map[String, String])

<h3>@Messages.get("forum.thread.posts")</h3>
<div class="clearfix">
    @Messages.get("forum.thread.posts.view"): <a href="@routes.ThreadPostController.viewThreadPosts(forumThread.getId)">@Messages.get("forum.thread.posts.flat")</a> | <span>@Messages.get("forum.thread.posts.tree")</span>
</div>
<br />

@defining(AvatarCacheServiceImpl.getInstance().getAvatarUrls(JavaConversions.seqAsJavaList(threadPostsWithLevel.map(p => p.getThreadPost.getUserJid).toSeq), JophielClientControllerUtils.getInstance().getUserDefaultAvatarUrl)) { avatarUrlsMap =>
    @defining(JidCacheServiceImpl.getInstance().getDisplayNames(JavaConversions.seqAsJavaList(threadPostsWithLevel.map(p => p.getThreadPost.getUserJid).toSeq))) { displayNamesMap =>
        @defining(JidCacheServiceImpl.getInstance().getDisplayNames(JavaConversions.seqAsJavaList(replyJidToUserJidMap.values.toSeq))) { replyDisplayNamesMap =>
            @for((threadPost, index) <- threadPostsWithLevel.zipWithIndex) {
                <div class="clearfix">
                    <div class="post-wrapper-@threadPost.getLevel">
                        <div id="post-@threadPost.getThreadPost.getId" class="panel panel-default post">
                        @postContentView(threadPost.getThreadPost, avatarUrlsMap.get(threadPost.getThreadPost.getUserJid), displayNamesMap.get(threadPost.getThreadPost.getUserJid), replyJidToIdMap.get(threadPost.getThreadPost.getReplyJid), replyJidToUserJidMap.get(replyJidToUserJidMap.get(threadPost.getThreadPost.getReplyJid)))
                        </div>
                    </div>
                </div>
            }
        }
    }
}
