@import org.iatoki.judgels.play.JudgelsPlayMessages
@import org.iatoki.judgels.play.views.html.table.tableView
@import org.iatoki.judgels.play.views.html.table.tableHeadersView
@import org.iatoki.judgels.play.views.html.table.searchView
@import org.iatoki.judgels.play.views.html.table.paginationView
@import scala.collection.JavaConversions
@import org.iatoki.judgels.raguel.controllers.routes
@import org.iatoki.judgels.play.Page
@import org.iatoki.judgels.play.JudgelsPlayUtils
@import org.iatoki.judgels.raguel.services.impls.JidCacheServiceImpl
@import org.iatoki.judgels.raguel.Forum
@import org.iatoki.judgels.raguel.ForumThread

@(currentForum: Forum, pageOfThreads: Page[ForumThread], orderBy: String, orderDir: String, filterString: String)

@listFunc(newPageIndex: scala.Long, newOrderBy: String, newOrderDir: String, newFilterString: String) = @{routes.ForumThreadController.listThreads(currentForum.getId, newPageIndex, newOrderBy, newOrderDir, newFilterString)}

<h3>@JudgelsPlayMessages.get("forum.text.threads")</h3>

@searchView(pageOfThreads.getPageIndex, orderBy, orderDir, filterString, listFunc)

<div class="clearfix"></div>

@tableView() {
    @tableHeadersView(pageOfThreads.getPageIndex, orderBy, orderDir, filterString, listFunc)(
        "id" -> JudgelsPlayMessages.get("commons.field.id"),
        "name" -> JudgelsPlayMessages.get("forum.thread.field.name"),
        "" -> JudgelsPlayMessages.get("forum.thread.text.author"),
        "timeUpdate" -> JudgelsPlayMessages.get("forum.thread.text.lastUpdate")
    )
    <tbody>
        @defining(JidCacheServiceImpl.getInstance().getDisplayNames(JavaConversions.seqAsJavaList(pageOfThreads.getData.map(t => t.getAuthorJid).toSeq))) { displayNamesMap =>
            @for(thread <- pageOfThreads.getData) {
                <tr>
                    <td>@thread.getId</td>
                    <td>@thread.getName</td>
                    <td>@displayNamesMap.get(thread.getAuthorJid)</td>
                    <td><time class="display-time" datetime="@JudgelsPlayUtils.formatISOUTCDateTime(thread.getLastUpdate.getTime)">@JudgelsPlayUtils.formatDetailedDateTime(thread.getLastUpdate.getTime)</time></td>
                    <td class="text-center">
                    </td>
                </tr>
            }
        }
    </tbody>
}

@paginationView(pageOfThreads, orderBy, orderDir, filterString, listFunc)