@import play.i18n.Messages
@import org.iatoki.judgels.play.JudgelsPlayUtils
@import scala.collection.JavaConversions
@import org.iatoki.judgels.raguel.controllers.routes
@import org.iatoki.judgels.raguel.RaguelUtils
@import org.iatoki.judgels.raguel.Forum
@import org.iatoki.judgels.raguel.services.impls.JidCacheServiceImpl

@(currentForum: Forum, childForums: List[Forum])

@if(childForums.nonEmpty) {
    <h3>@Messages.get("forum.subforums")</h3>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="clearfix row">
                <div class="col-md-7">
                @Messages.get("forum.subforum")
                </div>
                <div class="col-md-2">
                @Messages.get("forum.lastPost")
                </div>
                <div class="col-md-3">
                @Messages.get("forum.lastUserUpdate")
                </div>
            </div>
        </div>
        <div class="panel-body">
        @defining(JidCacheServiceImpl.getInstance().getDisplayNames(JavaConversions.seqAsJavaList(childForums.map(f => f.getLastUpdateUserJid).toSeq))) { displayNamesMap =>
            @for((forum, index) <- childForums.zipWithIndex) {
                <div class="clearfix row">
                    <div class="col-md-7">
                        <a href="@routes.ForumController.viewForums(forum.getId)">@forum.getName</a>
                        @if(RaguelUtils.hasRole("moderator") || RaguelUtils.hasRole("admin")) {
                            <a class="btn btn-primary" href="@routes.ForumController.editForumGeneralConfig(forum.getId)">@Messages.get("commons.update")</a>
                        }
                        @if(forum.getDescription != null) {
                            <p><small>@Html(forum.getDescription)</small></p>
                        }
                    </div>
                    <div class="col-md-2">
                        <time class="display-time" datetime="@JudgelsPlayUtils.formatISOUTCDateTime(forum.getLastUpdate.getTime)">@JudgelsPlayUtils.formatDetailedDateTime(forum.getLastUpdate.getTime)</time>
                    </div>
                    <div class="col-md-3">
                    @displayNamesMap.get(forum.getLastUpdateUserJid)
                    </div>
                </div>
                @if(index != (childForums.size - 1)) {
                    <div class="row">
                        <hr class="forum-divider"/>
                    </div>
                }
            }
        }
        </div>
    </div>
}