@import org.iatoki.judgels.play.Page
@import org.iatoki.judgels.raguel.Forum
@import org.iatoki.judgels.raguel.ForumThreadWithStatistics

@(currentForum: Forum, childForums: List[Forum], pageOfThreads: Page[ForumThreadWithStatistics], orderBy: String, orderDir: String, filterString: String)

@if(currentForum != null) {
    <div class="well">
        @Html(currentForum.getDescription)
    </div>
}

@if(!childForums.isEmpty) {
    @listForumsView(currentForum, childForums)
}

@if(!pageOfThreads.getData.isEmpty) {
    @listThreadsWithStatisticView(currentForum, pageOfThreads, orderBy, orderDir, filterString)
}
