@import play.i18n.Messages
@import org.iatoki.judgels.play.views.html.table.searchView
@import org.iatoki.judgels.play.views.html.table.paginationView
@import scala.collection.JavaConversions
@import org.iatoki.judgels.raguel.controllers.routes
@import org.iatoki.judgels.play.Page
@import org.iatoki.judgels.play.JudgelsPlayUtils
@import org.iatoki.judgels.raguel.services.impls.JidCacheServiceImpl
@import org.iatoki.judgels.raguel.Forum
@import org.iatoki.judgels.raguel.ForumThreadWithStatistics

@(currentForum: Forum, pageOfThreads: Page[ForumThreadWithStatistics], orderBy: String, orderDir: String, filterString: String)

<h3>@Messages.get("forum.threads")</h3>

@listFunc(newPageIndex: scala.Long, newOrderBy: String, newOrderDir: String, newFilterString: String) = @{routes.ForumController.listForumsThreads(currentForum.getId, newPageIndex, newOrderBy, newOrderDir, newFilterString)}

@searchView(pageOfThreads.getPageIndex, orderBy, orderDir, filterString, listFunc)

<div class="clearfix"></div>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="clearfix row">
            <div class="col-xs-4">
                <small>@Messages.get("forum.thread")</small>
            </div>
            <div class="col-xs-2">
                <small>@Messages.get("forum.thread.author")</small>
            </div>
            <div class="col-xs-1">
                <small>@Messages.get("forum.thread.viewCount")</small>
            </div>
            <div class="col-xs-1">
                <small>@Messages.get("forum.thread.replyCount")</small>
            </div>
            <div class="col-xs-2">
                <small>@Messages.get("forum.thread.lastPost")</small>
            </div>
            <div class="col-xs-2">
                <small>@Messages.get("forum.thread.lastUserUpdate")</small>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="clearfix row">
            @defining(JidCacheServiceImpl.getInstance().getDisplayNames(JavaConversions.seqAsJavaList(pageOfThreads.getData.map(t => t.getForumThread.getAuthorJid).toSeq))) { displayNamesMap =>
                @defining(JidCacheServiceImpl.getInstance().getDisplayNames(JavaConversions.seqAsJavaList(pageOfThreads.getData.map(t => t.getForumThread.getLastUpdateUserJid).toSeq))) { lastUpdateDisplayNamesMap =>
                    @for((thread, index) <- pageOfThreads.getData.zipWithIndex) {
                        <div class="clearfix">
                            <div class="col-xs-4">
                                <small><a href="@routes.ThreadPostController.viewThreadPosts(thread.getForumThread.getId)">@thread.getForumThread.getName</a></small>
                            </div>
                            <div class="col-xs-2">
                                <small>@displayNamesMap.get(thread.getForumThread.getAuthorJid)</small>
                            </div>
                            <div class="col-xs-1 text-center">
                                <small>@thread.getViewCount</small>
                            </div>
                            <div class="col-xs-1 text-center">
                                <small>@thread.getReplyCount</small>
                            </div>
                            <div class="col-xs-2">
                                <small><time class="display-time" datetime="@JudgelsPlayUtils.formatISOUTCDateTime(thread.getForumThread.getLastUpdate.getTime)">@JudgelsPlayUtils.formatDetailedDateTime(thread.getForumThread.getLastUpdate.getTime)</time></small>
                            </div>
                            <div class="col-xs-2">
                                <small>@lastUpdateDisplayNamesMap.get(thread.getForumThread.getLastUpdateUserJid)</small>
                            </div>
                        </div>
                        @if(index != (pageOfThreads.getData.size - 1)) {
                            <hr />
                        }
                    }
                }
            }
        </div>
    </div>
</div>

@paginationView(pageOfThreads, orderBy, orderDir, filterString, listFunc)