@import play.i18n.Messages
@import org.iatoki.judgels.play.JudgelsPlayUtils
@import scala.collection.JavaConversions
@import org.iatoki.judgels.raguel.controllers.routes
@import org.iatoki.judgels.raguel.RaguelUtils
@import org.iatoki.judgels.raguel.Forum
@import org.iatoki.judgels.raguel.services.impls.JidCacheServiceImpl

@(childForums: List[Forum])

@for(forum <- childForums) {
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <div class="pull-left">
                <h3 class="panel-title"><a href="@routes.ForumController.viewForums(forum.getId)">@forum.getName</a></h3>
            </div>
            @if(RaguelUtils.hasRole("moderator") || RaguelUtils.hasRole("admin")) {
                <div class="pull-right">
                    <a class="btn btn-primary" href="@routes.ForumController.editForumGeneralConfig(forum.getId)">@Messages.get("commons.update")</a>
                </div>
            }
        </div>
        @if(!forum.getSubforums.isEmpty) {
            @defining(JidCacheServiceImpl.getInstance().getDisplayNames(JavaConversions.seqAsJavaList(forum.getSubforums.map(f => f.getLastUpdateUserJid).toSeq))) { lastUpdateDisplayNamesMap =>
                <div class="panel-body">
                @for((subforum, index) <- forum.getSubforums.zipWithIndex) {
                    <div class="clearfix">
                        @if(RaguelUtils.hasRole("moderator") || RaguelUtils.hasRole("admin")) {
                            <div class="pull-right">
                                <a class="btn btn-primary" href="@routes.ForumController.editForumGeneralConfig(subforum.getId)">@Messages.get("commons.update")</a>
                            </div>
                        }
                        <div class="pull-right">
                            <small>@Messages.get("forum.lastUpdate"): @lastUpdateDisplayNamesMap.get(subforum.getLastUpdateUserJid) @@ <time class="display-time" datetime="@JudgelsPlayUtils.formatISOUTCDateTime(subforum.getLastUpdate.getTime)">@JudgelsPlayUtils.formatDetailedDateTime(subforum.getLastUpdate.getTime)</time></small>
                        </div>
                        <div>
                            <h4><a href="@routes.ForumController.viewForums(subforum.getId)">@subforum.getName</a></h4>
                            <p><small>@Html(subforum.getDescription)</small></p>
                        </div>
                    </div>
                    @if(index != (forum.getSubforums.size - 1)) {
                        <div class="row">
                            <hr class="forum-divider" />
                        </div>
                    }
                }
                </div>
            }
        }
    </div>
}
